extends layout

block content
  h1= title
  - let dogs  = [{dogType:"Rottweiler", price: 500, weight:"20 kgs"},{dogType:"Pomeranian", price: 300, weight:"25 kgs"},{dogType:"Pug", price: 200, weight:"30 kgs"}]
  div(class="container-fluid mt-3")
  div(class="row")
    each dog,index in dogs
        div(class="col-sm-4" onclick=`buy(${index})`) #{dog.dogType} - #{dog.price} - #{dog.weight}
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }